{% extends "base.html" %}

{% block breadcrumbs %}
  <li><a href="{{ url_for('zones.zones_list') }}">Zones</a></li>
  <li><a href="{{ url_for('zones.zones_records', zone_id=zone_id) }}">Records for {{ zone['Name'] }}</a></li>
  <li>Add new record</li>
{% endblock %}

{% block body %}
<h2>Add new record</h2>
{% if error %}
<p class="error">{{ error.error_message }}</p>
{% endif %}
<form action="{{ url_for('records.records_new', zone_id=zone_id) }}" method="post" accept-charset="utf-8">
  {{ form.csrf_token }}
  {% from "_formhelpers.html" import render_field %}
  <dl>
    {{ render_field(form.record_type) }}
    {{ render_field(form.name) }}
    {{ render_field(form.value) }}
    {{ render_field(form.ttl) }}
    {{ render_field(form.comment) }}
  </dl>
  <p>
    <button type="submit">Add</button>
  </p>
</form>
{% endblock %}
