{% extends "base.html" %}

{% block breadcrumbs %}
  <li><a href="{{ url_for('zones.zones_list') }}">Zones</a></li>
  <li><a href="{{ url_for('zones.zones_records', zone_id=zone_id) }}">Records for {{ zone['Name'] }}</a></li>
  <li>Add new record</li>
{% endblock %}

{% block body %}
<h2>Add new record</h2>
<p>You can use semicolon ";" to separate values in the "Value" field. It allows you to create recordset with several records.</p>
<h3>Examples</h3>
<p>Assign multiple IPs to one A record for round-robin DNS:<br />192.168.1.1;192.168.1.2</p>
<p>Configure MX records for Google Apps:<br />1 ASPMX.L.GOOGLE.COM;5 ALT1.ASPMX.L.GOOGLE.COM;5 ALT2.ASPMX.L.GOOGLE.COM;10 ASPMX2.GOOGLEMAIL.COM;10 ASPMX3.GOOGLEMAIL.COM</p>
{% if error %}
<p class="error">{{ error.error_message }}</p>
{% endif %}
<form action="{{ url_for('records.records_new', zone_id=zone_id) }}" class="bp" method="post" accept-charset="utf-8">
  {{ form.csrf_token }}
  {% from "_formhelpers.html" import render_field %}
  <dl>
    {{ render_field(form.type) }}
    {{ render_field(form.name) }}
    {{ render_field(form.value) }}
    {{ render_field(form.ttl) }}
    {{ render_field(form.comment) }}
  </dl>
  <p>
    <button class="button" type="submit">Add</button>
    <a href="{{ url_for('zones.zones_records', zone_id=zone_id) }}" class="button">Cancel</a>
  </p>
</form>
{% endblock %}
