<!DOCTYPE html>
<html>
  <head>
    <title>Route 53 Manager</title>
  </head>
  <body>
    <h1><a href="{{ url_for('auth.index') }}">Route 53 Manager</a></h1>
    <div class="toolbar">
      <ul>
        {% if g.identity.name != 'anon' %}
        <li>Hello, {{ g.identity.name }}</li>
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        {% endif %}
      </ul>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}
  </body>
</html>
