{% extends "base.html" %}

{% block breadcrumbs %}
  <li><a href="{{ url_for('zones.zones_list') }}">Zones</a></li>
  <li>Delete {{ zone['Name'] }}</li>
{% endblock %}

{% block body %}
<h2>Delete zone "{{ zone['Name'] }}"</h2>
<p>Are you sure?</p>
{% if error %}
<p class="error">{{ error.error_message }}</p>
{% endif %}
<form action="{{ url_for('zones.zones_delete', zone_id=zone_id) }}" method="post" accept-charset="utf-8">
  <input type="hidden" name="delete" value="delete" />
  <p>
    <button type="submit">Yes</button>
    <a class="button" href="{{ url_for('zones.zones_list') }}">No</a>
  </p>
</form>
{% endblock %}
