{% extends "base.html" %}

{% block body %}
<h2>Zones</h2>
<p><a href="{{ url_for('zones.zones_new') }}">Add a zone</a></p>
<ul>
  {% for zone in zones %}
  <li>
    <a href="{{ url_for('zones.zones_detail', zone_id=zone['Id']|shortid) }}">{{ zone['Name'] }}</a>
    <a href="{{ url_for('zones.zones_records', zone_id=zone['Id']|shortid) }}"><small>Records</small></a>
    <a href="{{ url_for('zones.zones_delete', zone_id=zone['Id']|shortid) }}"><small>Delete</small></a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
