{% extends "base.html" %}

{% block breadcrumbs %}
  <li><a href="{{ url_for('zones.zones_list') }}">Zones</a></li>
  <li>Add new zone</li>
{% endblock %}

{% block body %}
<h2>Add new zone</h2>
<form action="{{ url_for('zones.zones_new') }}" class="bp" method="post" accept-charset="utf-8">
  {{ form.csrf_token }}
  {% from "_formhelpers.html" import render_field %}
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.comment) }}
  </dl>
  <p>
    <button type="submit">Add</button>
    <a href="{{ url_for('zones.zones_list') }}" class="button">Cancel</a>
  </p>
</form>
{% endblock %}
