{% extends "base.html" %}

{% block breadcrumbs %}
  <li><a href="{{ url_for('zones.zones_list') }}">Zones</a></li>
  <li>Records for {{ zone['Name'] }}</li>
{% endblock %}

{% block body %}
<h2>Hosted Zone "{{ zone['Name'] }}"</h2>
<p><a href="{{ url_for('records.records_new', zone_id=zone_id) }}">Add new record</a></p>
{% if recordsets %}
<ul>
{% for recordset in recordsets %}
<li>{{ recordset.type }} {{ recordset.name }} {{ recordset.ttl }}
<a href="{{ url_for('records.records_delete', zone_id=zone_id) }}?type={{ recordset.type|urlencode }}&amp;name={{ recordset.name|urlencode }}{% for value in recordset.resource_records %}&amp;value={{ value|urlencode }}{% endfor %}&amp;ttl={{ recordset.ttl }}{% if recordset.alias_dns_name %}&amp;alias_dns_name={{ recordset.alias_dns_name|urlencode }}{% endif %}{% if recordset.alias_hosted_zone_id %}&amp;alias_hosted_zone_id={{ recordset.alias_hosted_zone_id|urlencode }}{% endif %}">Delete</a>
<a href="{{ url_for('records.records_update', zone_id=zone_id) }}?type={{ recordset.type|urlencode }}&amp;name={{ recordset.name|urlencode }}{% for value in recordset.resource_records %}&amp;value={{ value|urlencode }}{% endfor %}&amp;ttl={{ recordset.ttl }}{% if recordset.alias_dns_name %}&amp;alias_dns_name={{ recordset.alias_dns_name|urlencode }}{% endif %}{% if recordset.alias_hosted_zone_id %}&amp;alias_hosted_zone_id={{ recordset.alias_hosted_zone_id|urlencode }}{% endif %}">Update</a>
  <ul>
    {% for value in recordset.resource_records %}
    <li>{{ value }}</li>
    {% endfor %}
    {% if recordset.alias_dns_name and recordset.alias_hosted_zone_id %}
    <li>Alias: {{ recordset.alias_dns_name }} | {{ recordset.alias_hosted_zone_id }}</li>
    {% endif %}
  </ul>
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
