{% extends "base.html" %}

{% block breadcrumbs %}
  <li><a href="{{ url_for('zones.zones_list') }}">Zones</a></li>
  <li>Records for {{ zone['Name'] }}</li>
{% endblock %}

{% block body %}
<h2>Hosted Zone "{{ zone['Name'] }}"</h2>
<p><a href="{{ url_for('records.records_new', zone_id=zone_id) }}">Add a record</a></p>
{% if recordsets %}
<ul>
{% for recordset in recordsets %}
<li>{{ recordset['type'] }} {{ recordset['name'] }} {{ recordset['ttl'] }} <a href="{{ url_for('records.records_delete', zone_id=zone_id) }}?type={{ recordset['type']|urlencode }}&amp;name={{ recordset['name']|urlencode }}{% for value in recordset['values'] %}&amp;value={{ value|urlencode }}{% endfor %}&amp;ttl={{ recordset['ttl']|urlencode }}">Delete</a>
  <ul>
    {% for value in recordset['values'] %}
    <li>{{ value }}</li>
    {% endfor %}
  </ul>
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
