{% extends "base.html" %}

{% block body %}
<h2>Hosted Zone "{{ zone['Name'] }}"</h2>
<p><a href="{{ url_for('records.records_new', zone_id=zone_id) }}">Add a record</a></p>
{% if recordsets %}
<ul>
{% for recordset in recordsets %}
<li>{{ recordset['type'] }} {{ recordset['name'] }} {{ recordset['ttl'] }}
  <ul>
    {% for value in recordset['values'] %}
    <li>{{ value }} <a href="{{ url_for('records.records_delete', zone_id=zone_id) }}?type={{ recordset['type']|urlencode }}&amp;name={{ recordset['name']|urlencode }}&amp;value={{ value|urlencode }}&amp;ttl={{ recordset['ttl']|urlencode }}">Delete</a></li>
    {% endfor %}
  </ul>
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
